{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block categories %}
        <div class="sidebar-heading">Ocultar </div>
          <div class="list-group list-group-flush">
          <div class="dropdown">
            <button class="list-group-item list-group-item-action bg-light" data-toggle="dropdown">
              Dropdown button <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </div>
            <a href="" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
          </div>
{% endblock %}
{% block content %}
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src= "{% static 'core/assets/img/portfolio/cabin.png' %}"  alt="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src= "{% static 'core/assets/img/portfolio/cabin.png' %}"  alt="" />
                        </div>
                    </div>
                                      <div class="col-md-6 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src= "{% static 'core/assets/img/portfolio/cabin.png' %}"  alt="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src= "{% static 'core/assets/img/portfolio/cabin.png' %}"  alt="" />
                        </div>
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>
{% endblock %}