{% extends 'core/base.html' %}
{% load static %}
{% block title %}Anime | Añadir Categorias{% endblock %}
      
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
      {% if 'ok' in request.GET %}
          <p style="color:green">
            se añadio corectamente
          </p>
        {% endif%}
      {% if user.is_staff %}
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Añadir Categorias</h3>
            {{form.as_p}}
          <p><input type="submit" class="btn btn-primary btn-block " value="Añadir"></p>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}


