{% extends 'core/base.html' %}
{% load static %}
{% block title %}Anime | Directorio{% endblock %}
{% block button %}
  <button class="btn btn-primary " id="menu-toggle">Toggle Menu</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
{% endblock %}
{% block categories %}
{% if user.is_staff %}
<div class="bg-light border-right" id="sidebar-wrapper">
<div class="sidebar-heading">Categorias </div>
<div class="list-group list-group-flush">
{% for category in objects %}
  <div class="dropdown">
    <a href="#" class="list-group-item list-group-item-action bg-light "
            {% if user.is_staff %}data-toggle="dropdown">{% endif %}
      {{category}} {% if user.is_staff %}<i class="fa fa-caret-down"></i>{% endif %}
    </a>
    {% if user.is_staff %}
    <div class="dropdown-menu" aria-labelledby="dropdown">
      <a class="dropdown-item" href="{% url 'post:search' category %}">Buscar por categoria</a>
      <a class="dropdown-item" href="{% url 'post:update' category.id %}">Editar</a>
      <a class="dropdown-item" href="{% url 'post:delete' category.id %}">Borrar</a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
</div>
{% else %}
<div class="bg-light border-right" id="sidebar-wrapper">
<div class="sidebar-heading">Categorias </div>
<div class="list-group list-group-flush">
{% for category in objects %}
  <div class="dropdown">
    <a href="{% url 'post:search' category %}" class="list-group-item list-group-item-action bg-light ">
      {{category}}
    </a>
  </div>
  {% endfor %}
</div>
</div>
{% endif %}  
{% endblock %}
{% block content %}

<style>.errorlist{color:red;} label{display:none;} a{text-decoration:none;}</style>
<section class="page-section portfolio" id="portfolio">
  <div class="container"> 
    <div class="row justify-content-center">
      {% for anime in object_list %}
      <div class="col-md-6 col-lg-2 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
        
          {% if anime.img %}
          <a href="{% url 'post:detail'  anime.slug %}" style="text-decoration:none"><img class="img-fluid" src= "{{ anime.img.url }}"  alt="{{anime.title}}"/>
          <p class="text"> <strong>{{anime.title}}</strong></a>
          {% endif %}  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>  
</section>
{% endblock %}

